.profile-container{

min-height:80vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}



.profile-card{


width:400px;

background:white;

border-radius:20px;

padding:40px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.15);


}



.profile-avatar{

font-size:70px;

margin-bottom:20px;

}



.profile-card h1{

color:#2563eb;

margin-bottom:30px;

}



.profile-info{

text-align:left;

}



.profile-info div{

background:#f8fafc;

padding:15px;

border-radius:12px;

margin-bottom:15px;

}



.profile-info h3{

margin:0;

color:#475569;

font-size:16px;

}



.profile-info p{

margin-top:8px;

font-size:17px;

font-weight:600;

color:#2563eb;

}



/* Tablet */

@media(max-width:1024px){


.profile-container{

padding:30px;

}


}



/* Mobile */

@media(max-width:768px){


.profile-container{

padding:20px;

}


.profile-card{

width:100%;

max-width:350px;

padding:30px 20px;

}



.profile-avatar{

font-size:60px;

}



}